*.dll
*.bin
*.log
*.json
*.ide
Assembly-CSharp.csproj
.vs/*
Library/*
obj/*
Temp/*
Assembly-CSharp.csproj
*.json
*.pdb
*.dll
*.pdb
Assembly-CSharp.csproj
Assets/Audio.meta
Library/ArtifactDB
Library/Artifacts/05/05cffe8ce27329c040cab024d5a9aae9
Library/Artifacts/7f/7fd903c28b6f48201678edf5f0fd6662
Library/Artifacts/c4/c43640ceef403ee9da04c34223e35436
Library/Artifacts/ce/ce0d03d022001751dd46203c4ea5272c
Library/Artifacts/e6/e6e4235e95d155506c5851ab49e49ef2
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/569e7a-mainStage.json
Library/StateCache/SceneView/8436d4-mainStage.json
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
Terraform.sln
