*.dll
*.bin
*.log
*.json
*.ide
Assembly-CSharp.csproj
.vs/*
Library/*
obj/*
Temp/*
.vs/Terraform/v16/.suo
.vs/Terraform/v16/Server/sqlite3/storage.ide
Assembly-CSharp.csproj
Library/ArtifactDB
Library/Artifacts/42/424e49b35f15f200768afa21b4f424b3
Library/Artifacts/bc/bc1b1bef2255e0be51954f54fe56499a
Library/Artifacts/c8/c8dd7d036d2235b6cb4499f7a4364d45
Library/Artifacts/cf/cf57116e2fc46b111905f69a8b5551e6
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/expandedItems
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/569e7a-mainStage.json
Temp/ExportedBlenderFBXFile.fbx
Temp/UnityTempFile-0a2d5b53329473d4db7b47db63c30b98
Temp/UnityTempFile-141ade25c0a76c241891b0dc044225f5
Temp/UnityTempFile-3a4f1ee6ba3d093478271b86a883c32f
Temp/UnityTempFile-4d1649560c726a54c8f21fd2b8cbf75f
Temp/UnityTempFile-4e8eba529d795704e936337c76ded241
Temp/UnityTempFile-574a87d2bb8488a4190d9d64f312dabc
Temp/UnityTempFile-6810fbb6484fc8c48838f9f857348a39
Temp/UnityTempFile-93bb745f1740e7a4e8817e6c0dcb122b
Temp/UnityTempFile-9d16a6c0b11b7d847bf1e43300436dff
Temp/UnityTempFile-b192aaae5ca95724f97856c212f809e8
Temp/UnityTempFile-bdeb56ac3c7af6d4ab755d270f4734f4
Temp/UnityTempFile-eb0c6e274bd12e04e90ca6ecec106591
Temp/UnityTempFile-eb9e863b7d85c4148aec18662c2aafd2
